.main {
    &__information {
        .line {
            top: 80px;
            left: 300px;
        }
        p {
            font-size: 32px;
        }
        .button {
            margin-left: 80px;
        }
    }
    &__idea {
        font-size: 34px;
        margin-top: 260px;
        text-align: center;
        .line {
            right: 575px;
            top: 1520px;
        }
        p {
            background: #D9D9D9;
            padding: 90px 35px;
            border-radius: 111px;
            font-size: 34px;
            display: inline-block;
        }
        span {
            font-size: 34px;
            background-color: transparent;
        }
    }
    p {
        font-weight: normal;
        margin: 44px 0 32px 0;
    }
    .books {
        top: 0;
        right: 0;
    }
    .book__selection {
        text-align: center;
        span {
            font-size: 24px;
        }
        .button {
            margin-top: 100px;
            margin-bottom: 100px;
        }
        .line {
            left: 690px;
            
        }
    }
}
