@import '../../style/variables.scss';

.app {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 0 0 0;
        width: 920px;
    }
    &__menu {
        ul {
            display: flex;
        }
        li {
            list-style-type: none;
            margin-right: 45px;
            align-items: center;
            &.page_selected a{
                text-decoration: underline dotted #CF6E67;
                text-underline-offset: 9px;
            }
            a:hover {
                    color: $bright;
                    transition: 0.5s;
                }
            }
        }
    }

#logo {
    margin-right: 119px;
}

