@import '../../style/button.scss';
@import '../../style/variables.scss';

.decoration {
    position: absolute;
    right: 140px;
    top: -80px;
}
.facts_list {
    margin-top: 150px;
    list-style-type: none;
    text-align: justify;
}
.fact_item {
    margin-bottom: 10px;
}
.year_fact {
    color: $bright;
    font-weight: bold;
    font-size: 30px;
}
.loading_message {
    margin-top: 150px;
    font-size: 30px;
    color: #888;
    text-align: center;
    animation: fadeInOut 1.5s infinite;
  }
  
  @keyframes fadeInOut {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }